playstation|playstation 3|playstation 4|playstation 5|playstation vita|ps3|ps4|ps5|ps vita|xbox|xbox one|xbox series x|xbox series s|xbox 360|nintendo switch|nintendobrowser|wifiwebauthapplet|nintendo wiiu|nintendo wii u|nintendo wii|nintendo 3ds|new nintendo 3ds|nintendo dsi|steam deck|steamos|valve steam|rog ally|gameconsole|game console|console
