smart-tv|googletv|appletv|crkey|hbbtv|pov_tv|netcast.tv|gtv100|roku|smarttv|maple|espial|sonydtv|sonybdp|nettv|tbnet
,tv|smart-tv|smarttv|hbbtv|netcast|webtv|dtv|ce-html|tizen.*tv|samsungbrowser.*tv|samsung.*tv|web0s|webos|webappmanager|lg browser|lg netcast|android tv|googletv|google tv|google tv streamer|bravia|shield android tv|nvidia shield|chromecast|chromecast hd|adt-[0-9]+|aft[a-z0-9]+|aftm|aftt|afts|aftss|aftmm|aftka|aftkm|aftso|aftdct31|fire tv|roku|rokubrowser|roku/dvp|rokuos|roku os|appletv|apple tv|tvos|settopbox|stb|iptv|freebox|bouygues|orangetv|skyq|sky q|now tv|vodafonetv|vodafone tv|timvision|ziggo|kpn|foxtel|comcast|xfinity|virginmedia|mibox|mi box|mitv|mi tv|xiaomi tv|realtek|amlogic|hisense|tcl|vidaa|playstation|playstation 3|playstation 4|playstation 5|playstation vita|ps3|ps4|ps5|ps vita|xbox|xbox one|xbox series x|xbox series s|xbox 360|nintendo switch|nintendobrowser|wifiwebauthapplet|nintendo wiiu|nintendo wii u|nintendo wii|nintendo 3ds|new nintendo 3ds|nintendo dsi|steam deck|steamos|valve steam|rog ally|gameconsole|game console|console
