puffin(.*)[0-9]at$|sm-\t[0-9][0-9]|nexus 10|nexus 7|sm\-t210,tablet|pad| tab|flyer|wpad|froyo|xoom|mz6| a500 | a501 |streak|transformer|hri66|gt\-p[0-9]| k00[a-zA-Z]|gt\-p75|sch\-i800|playbook|manta B|kindle|msie [0-9].+[0-9]; arm; trident|mozilla/[0-9].+[0-9] \(tablet
,android.*tablet|sm-t[0-9a-z]+|sm-x[0-9a-z]+|galaxy tab|samsung.*tablet|lenovo tb-|lenovo.*tablet|tb-[0-9a-z]+|tb[0-9a-z]+|huawei.*tablet|honor.*tablet|mediapad|matepad|ags[0-9a-z-]+|bah[0-9a-z-]+|btv-[a-z0-9]+|xiaomi pad|redmi pad|mi pad|poco pad|kf[a-z0-9]+|kftt|kfot|kfjwi|kfjwa|kfsuwi|kfmawi|kftrwi|kfmuwi|kfonwi|pixel tablet|nexus 9|nokia t[0-9]+|opd[0-9]+|vivo pad|oppo pad|oneplus pad|realme pad
