roku|rokubrowser|roku/dvp|rokuos|roku os|appletv|apple tv|tvos|settopbox|stb|iptv|freebox|bouygues|orangetv|skyq|sky q|now tv|vodafonetv|vodafone tv|timvision|ziggo|kpn|foxtel|comcast|xfinity|virginmedia|mibox|mi box|mitv|mi tv|xiaomi tv|realtek|amlogic|hbbtv|aft[a-z0-9]+|fire tv|chromecast|chromecast hd|google tv streamer|shield android tv|nvidia shield|adt-[0-9]+
